<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Recipes</h1>
    <ul>
    <%@recipes.each do |recipe| %>
        <li><%=recipe.name%></li>
    <%end %>
    </ul>
  </body>
</html>
