<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/recipes/new" method="post">
      <label for="">name: </label>
      <input type="text" name="name" value="">
      <br>
      <label for="">ingredients: </label>
      <input type="submit" name="ingredients" value="CREATE">
    </form>
  </body>
</html>
